{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
	<h1>Вход</h1>
	<form method="POST" action="/login">
		<label for="login">Логин:</label>
		<input type="text" id="login" name="login" required><br><br>

		<label for="password">Пароль:</label>
		<input type="password" id="password" name="password" required><br><br>

		<button type="submit">Войти</button>
	</form>
	<p>Еще нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
	{% if error %}
	<p>{{ error }}</p>
	{% endif %}
{% endblock %}