{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block body %}
	<h1>Main page</h1>
	<form method="POST" action="/main">
		<label for="login">Нове слово:</label>
		<input type="text" id="new-word" name="new-word" placeholder="Нове слово" required><br><br>

		<label for="translation">Переклад:</label>
		<input type="text" id="translation" name="translation" placeholder="Переклад" required><br><br>

		<button type="submit">Додати в словник</button>
	</form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

	<a href="/show_table">Словник</a>
	</br>
	<a href="/task_1">Перекласти слова із укроїнської на англійську</a>

{% endblock %}