{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block body %}
	<h1>Registration</h1>
    <form method="POST">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}