{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
	<h1>Выберите действие</h1>
	<a href="/login">Войти</a> 
	<br>
	<a href="/register">Зарегистрироваться</a>
{% endblock %}