{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block body %}
	<p>Переклад слова "{{ word }}":</p>
	<form method="POST">
        <input type="radio" id="choice1" name="choice" value="1" required>
        <label for="choice1">{{ translate1 }}</label><br>
        <input type="radio" id="choice2" name="choice" value="2">
        <label for="choice2">{{ translate2 }}</label><br>
        <input type="radio" id="choice3" name="choice" value="3">
        <label for="choice3">{{ translate3 }}</label><br>
        <input type="radio" id="choice4" name="choice" value="4">
        <label for="choice4">{{ translate4 }}</label><br>
        <button type="submit">Підтвердити</button>
    </form>
	<p>Рахунок: {{ score }}</p>
{% endblock %}