{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block body %}
	<h1>Таблица слів</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Слово</th>
			<th>Переклад</th>
		</tr>
		{% for word in words %}
		<tr>
			<td>{{ word.id }}</td>
			<td>{{ word.word }}</td>
			<td>{{ word.translation }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}